<div class="slider">
    <a href="https://chromewebstore.google.com/detail/football-live/pdehjnikdhecaajakdgdoflodnbedfim" target="_blank">
        <div class="slides">
            <img src="../img/extension1.webp" alt="Partidos"/>
            <img src="../img/extension2.webp" alt="Ligas"/>
            <img src="../img/extension3.webp" alt="Noticias"/>
            <img src="../img/extension4.webp" alt="Acerca De"/>
        </div>
    </a>
    <div class="buttons">
        <button id="prev">❮</button>
        <button id="next">❯</button>
    </div>
</div>