@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.navbar .menu {
    position: absolute;
    font-size: 17px;
    top: 9px;
    right: 30px;
}
.monedero{
    position: relative;
    top: -10px;
    font-size: 14px;
    color: #FFD700;
    font-family: Arial,Helvetica,sans-serif;
}
.footlive-logout, .footlive-wallet, .label-logout{
    float: left;
}
.footlive-logout, .footlive-wallet{
    background-color: transparent;
    padding: 2px;
    margin: -2px 8px 0 -5px;
}
.footlive-wallet{
    margin-top: -3px;
}
.google-login{
    background-color: #fff;
    padding: 7px;
    margin: -9px 15px -9px -20px;
    border-radius: 5px 0 0 5px;
}
.dropdown {    
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4C82F7;
    color: black;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 42px;
}
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    height: 48px;
}
#getmonero{
    margin-left: 0;
    padding: 0;
    color: #2767F2;
}
#getmonero:hover{
    color: #333;
}

.dropdown-content a:hover {
    background-color: #2767F2;
}

a:hover, .navbar-brand:hover{
    color: #1C74E9;
    text-decoration: none !important;
}

#container {
    display: flex;
    margin-top: 61px;
    min-height: 980px;
    justify-content: center;
}

#left-column, #right-column {
    width: 15%;
    background-color: #333;
    color: #fff;
    padding: 10px;    
}

#ads_left, #ads_right{
    display: flex;
    margin-top:20px;
    justify-content: center;
}

#center-column {
    width: 70%;
    padding: 0;
}

.view_matches #left-column, .view_matches #right-column{
    width: 21%;
}

.view_matches #center-column {
    width: 58%;
}
.recaptcha{
    text-align: center;
}
#timer{
    font-weight:bold;
    font-size:1.4em;
    display:block;
    margin-bottom: 5px;
}
.g-recaptcha{
    margin-bottom: 5px;
}
.form-recaptcha{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}

iframe {
    overflow: hidden;
    border: none;
    width: 100%;
    height:600px;
}

iframe.content {
    overflow-y: auto;
}

#pagination, #adsense{
    height: 70px;
}

#pagination {
    margin-top: 20px; /* Espacio superior */
    text-align: center; /* Centrar horizontalmente */
    display: flex;
    justify-content: center; /* Centrar horizontalmente con flexbox */
    align-items: center; /* Centrar verticalmente con flexbox */
}

#pagination a {
    display: inline-block;
    padding: 10px 15px; /* Aumentar el tamaño del enlace */
    margin: 5px; /* Espacio entre enlaces */
    background-color: #f0f0f0; /* Color de fondo */
    color: #333; /* Color del texto */
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de la fuente */
}

#pagination a:hover {
    background-color: #ccc; /* Color de fondo al pasar el mouse */
}

#pagination a.active {
    background-color: #333333; /* Color de fondo del enlace activo */
    color: #fff; /* Color del texto del enlace activo */
}

#programacion {
    border-bottom: 1px solid #333;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wait-program {
    color: #bdbdbd;
    border: 2px solid #9c88ffad;
    padding: 25px 30px 14px;
    width: 300px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: calc(50% - 160px);
}

.wait-program h3{
    color: #fff;
}

.extension {
    position: absolute;
    /*display: none;*/
    top: 43px;
    background-color: #333333;
    right: calc(20% + 11px);
    z-index: 9999;
    padding: 8px 0 10px 20px;
    border-radius: 0 0 0 20px;
    /*opacity: 0;
    transition: opacity 0.5s ease-in-out;*/
}

.text_link {
    position: relative;
    font-family: roboto;
    margin-right: 5px;
    font-weight: 600;
    font-size: 17px;
    top: -8px;
}

.invisible{
	display: none;
}

.selected{
    color: #FFD700 !important;
}

.channels{
    position: relative;
    text-align: center;
    margin: 5px auto;
    width: 150px;
}

.channels a{
    font-weight: bold;
    margin: 3px;
    padding: 3px 5px 4px;
    border-radius: 4px;
    background-color: #2768f5;
}

.imgtan {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    left: 55px;
    top: 50%;
    border-radius: 50%;
    margin: -0.7em 0 0 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.menu>li>a.enlace:before{
    background-image: none;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides img {
    width: 100%;
    border: 0;
}
.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.usevpn{
    margin: 5px;
    text-align: justify;
    line-height: 18px;
    background-color: #ff6c60;
    padding: 2px 5px 4px;
    border-radius: 5px;
    color: #000;
    font-family: "Rubik",system,Arial,sans-serif !important;
}
.form-amount{
    /*margin: 5px 0;*/
}
.status-green{
    color: #2ed573;
}
.status-red{
    color: #E02D18;
}
.w3-border-blue, .w3-hover-border-blue:hover {
    border: 1px solid #2196F3 !important;
    border-radius: 5px;
    padding: 8px 16px;
    width: 500px;
}
.w3-input {
    padding: 8px;
    display: block;
    border: none;
    width: 250px;
    float: left;
    border: 1px solid #ccc;
}
.w3-input-wallet{
    width: 500px;
}
.btn-withdraw{
    height: 33px;
    color: #fff;
    margin-left:10px;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    background-color: #38685e;
    border-color: buttonborder;
}
.withdraw{
    margin-bottom: 10px !important;
}

@media only screen and (max-width: 420px) {
    #left-column, #right-column, .extension {
        display: none;
    }
    #left-column, #right-column {
        width: 0;
    }
    #center-column {
        width: 100% !important;
    }
    .imgtan {
        left: 30px;
    }
  } 